# Introdução ao Pandas (Parte 2)

## Imports

In [ ]:
import pandas as pd

## Acessando os Dados

Através de operações de `dict` e `list`

In [ ]:
nome_cidade = pd.Series(['Campina Grande', 'Patos', 'Sousa'])
populacao = pd.Series([399999, 1499999, 99777])

df_city = pd.DataFrame({ 'Nome da Cidade': nome_cidade, 'População': populacao })
df_city

In [ ]:
type(df_city['Nome da Cidade'])

In [ ]:
df_city['Nome da Cidade']

In [ ]:
type(df_city['Nome da Cidade'][1])

In [ ]:
df_city['Nome da Cidade'][1]

In [ ]:
df_city[1]['Nome da Cidade'] # erro ?!

In [ ]:
type(df_city[0:2])

In [ ]:
df_city[0:2] # filtra as linhas, mantendo todas as colunas

In [ ]:
df_city[0:1][0:2] # o que acontece aqui?

In [ ]:
df_city['Nome da Cidade'] # filtra as colunas, mantendo todas as linhas

In [ ]:
df_city[['Nome da Cidade', 'População']][0:2] # filtra as colunas, filtra as linhas

In [ ]:
df_city[0:2][['Nome da Cidade', 'População']] # filtra as colunas, filtra as linhas (mesmo efeito do anterior)

#### **ATIVIDADE 6:** a função `value_counts()` só tem o parâmetro `bins` em `Series`, não tem em `DataFrame`. Escreva abaixo um código que processa o `DataFrame` `df_toy`, extraindo uma `Series` que corresponde a uma coluna com valores contínuos (apenas os 100 primeiros elementos da Serie) e aplique `value_counts()` com o parâmetro `bins` igual a 5 para ver o efeito.

Mais informações sobre a função `value_counts()` em `Series` podem ser encontradas [aqui](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html#pandas.Series.value_counts).

In [ ]:
# Caso precise realizar novamente o download e recarregar o dataframe toy_df, basta executar o código abaixo

# Opção 1: caso queira ter o arquivo CSV disponível no sistema de arquivos
# do Colab (que permanecerá disponível para esta sessão)
#
# !wget -O toy_dataset.csv "https://docs.google.com/uc?export=download&id=1ArGT0_cisUUh3QXW9tYM39azFQZDUnow"
# df_toy = pd.read_csv('toy_dataset.csv')
# df_toy

# Opção 2
# df_toy = pd.read_csv('https://docs.google.com/uc?export=download&id=1ArGT0_cisUUh3QXW9tYM39azFQZDUnow')
# df_toy

In [ ]:
# seu código aqui (solução da atividade)

#### **ATIVIDADE 7:** Caso seus bins da questão anterior estejam desordenados. Escreva um código modificado que os exibe ordenados, para facilitar a análise.

Saída esperada:

```
(16115.5, 26667.8]     6
(26667.8, 37167.6]    21
(37167.6, 47667.4]    27
(47667.4, 58167.2]    36
(58167.2, 68667.0]    10
Name: Income, dtype: int64
```

Dica: busque na [documentação de Pandas Series](https://pandas.pydata.org/docs/reference/series.html) uma função que realiza a ordenação:

In [ ]:
# seu código aqui

## Acessando com loc e iloc

Vamos criar um novo `data_frame`

In [ ]:
data_clima = [
              [25, 76.2, 1.0, 'Chuvoso'],
              [27, 76.2, 0.1, 'Chuvoso'],
              [28, 44.2, 1.1, 'Ensolarado'],
              [27, 56.2, 0.25, 'Nublado'],
              [23, 77.2, 1.1, 'Chuvoso']
            ]

df_clima = pd.DataFrame(data_clima,
                       columns=['Temperatura','Umidade','Precipitacao', 'Tempo'],
                       index=['Segunda-feira','Terça-feira','Quarta-feira', 'Quinta-feira', 'Sexta-feira']
                       )
df_clima

In [ ]:
df_clima.loc['Segunda-feira']

In [ ]:
type(df_clima.loc['Segunda-feira'])

In [ ]:
df_clima.loc[0] #erro

In [ ]:
df_clima.iloc[0] #OK

In [ ]:
type(df_clima.iloc[0])

In [ ]:
df_toy.loc[0] #erro ou OK?

In [ ]:
df_clima.loc[['Quinta-feira'], ['Umidade']]

In [ ]:
df_clima.iloc[3, 1]

In [ ]:
df_clima.loc[['Segunda-feira','Terça-feira','Quinta-feira']] # seleciona determinadas linhas

In [ ]:
df_clima.iloc[[0,1,3]] # seleciona determinadas linhas

In [ ]:
df_clima.loc[['Segunda-feira','Terça-feira','Quinta-feira'],['Temperatura', 'Tempo']] # algumas linhas e algumas colunas

In [ ]:
df_clima.iloc[[0,1,3],[0,3]] # algumas linhas e algumas colunas

In [ ]:
df_clima.iloc[:, 0] #todas as linhas de uma coluna

In [ ]:
df_clima.loc[:, ['Temperatura', 'Tempo']] #todas as linhas de determinadas colunas

In [ ]:
df_clima.iloc[:, [0,2]] #todas as linhas de determinadas colunas

#### **ATIVIDADE 8:**

(a) escreva um código para recuperar um df contendo as linhas segunda-feira e quarta-feira, com todas as colunas, utilizando `iloc`.

(b) escreva um código equivalente usando `loc`.

In [ ]:
# (a) seu código aqui

In [ ]:
# (b) seu código aqui

## Acessando com slice

Formato start:stop:step

In [ ]:
# sem step
linhas=[0,4]
df_clima.iloc[linhas, 1:3]

In [ ]:
# com step nas linhas
df_clima.iloc[0:5:2, 0:3]

In [ ]:
# Usando labels (com .loc[])
df_clima.loc['Segunda-feira':'Sexta-feira':2, 'Temperatura':'Umidade']

## Seleção com expressões booleanas

In [ ]:
st = df_clima['Temperatura']
st

In [ ]:
st[st>26]

In [ ]:
df_clima2 = df_clima[['Temperatura', 'Umidade', 'Precipitacao']]
df_clima2

In [ ]:
df_clima2[df_clima2 > 1]

In [ ]:
df_clima2[df_clima2['Temperatura'] > 26]

In [ ]:
df_clima2[(df_clima2['Temperatura'] > 26) & (df_clima2['Precipitacao'] < 1)] # erro se não usar parênteses

In [ ]:
df_clima2.query('Temperatura > 26 & Precipitacao < 1')

In [ ]:
df_clima[df_clima['Tempo'] == 'Nublado']['Temperatura']

In [ ]:
df_clima['Temperatura'][df_clima['Tempo'] == 'Nublado']

In [ ]:
df_clima[df_clima['Tempo'].str.startswith('C')]

In [ ]:
df_clima[df_clima['Tempo'].isin(['Chuvoso', 'Ensolarado'])]

#### **ATIVIDADE 9:**

Faça filtragem no `df_clima` de forma a retornar a Umidade de todos os registros cuja Temperatura seja 23, 27 ou 28; e o Tempo comece com 'C'.

In [ ]:
# seu código aqui

## Manipulação de Linhas e Colunas (Adição, Remoção, etc)

In [ ]:
# criando o data frame

d = {'primeira coluna' : pd.Series([11, 22, 32], index=['a', 'b', 'c']),
   'segunda coluna' : pd.Series([11, 22, 33, 44], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

In [ ]:
# adicionando nova coluna
df['terceira coluna']=pd.Series([100,200,300],index=['a','b','c'])
df

In [ ]:
# criando coluna a partir de outras existentes

df['quarta coluna'] = df['primeira coluna'] + df['terceira coluna']
df

In [ ]:
# removendo uma coluna

df.pop('quarta coluna')
df

In [ ]:
df.drop('a')

In [ ]:
df # o que aconteceu ?

In [ ]:
# drop também pode ser usado para colunas
df = df.drop('segunda coluna', axis=1)
df

In [ ]:
df2 = pd.DataFrame([[50, 60], [70, 80]], columns = ['primeira coluna','terceira coluna'])
df = df.append(df2)
df

In [ ]:
df2 = pd.DataFrame([[90, 99], [66, 88]], columns = ['primeira coluna','segunda coluna'])
df = df.append(df2)
df

####**ATIVIDADE 10:**

O dataframe da célula anterior ficou com as colunas bagunçadas (primeira/terceira/segunda).

a) Reorganize as colunas.

b) O índice das linhas também ficaram bagunçados! Reorganize-os também para ficar com numeração 0,1,2,...,n. Dica: use o método reset_index(). Depois de usar o método, veja se o dataframe ficou da forma que você esperava. Se não tiver ficado, ajuste-o.

In [ ]:
# a) seu código aqui

In [ ]:
# b) seu código aqui

Isso é só um pouquinho do que o Pandas oferece no que se trata de indexação e seleção. A API do pandas é muito vasta em relação a isso.
Para mais informações, [veja aqui](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).